recipe_service/src/main/resources/application.yml

social_service/src/main/resources/application.yml

ingredient_service/src/main/resources/application.yml

apigateway_service/src/main/resources/application.yml

config_service/src/main/resources/application.yml

discovery_service/src/main/resources/application.yml
